=render 'shared/side_bar'
.chat-main
  .chat-main__main-header
    .current-group
      %h2.group-name
        = @group.name
      %ul.member-list
        %li.member Member :
        %li.member 
          - @group.group_users.each do |group_users|
            =group_users.user.name
    =link_to edit_group_path(@group.id) ,:style =>"text-decoration:none;" do
      .edit-btn Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .test
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'

      -# testtest
      -# aaaaaaaaaaaaa
      -# aaaaa
      -# test
      -# fffffffffff
      -# kazutaka